[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "optimed"
version = "0.0.1"
description = "Optimed"
readme = "README.md"
license = { text = "Private Commercial License" }
authors = [
    { name = "Roman Fitzjalen", email = "info@bluemind.co" }
]
dependencies = [
    "numpy==1.26.3",
    "nibabel==5.2.1",
    "SimpleITK==2.3.1"
]
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: Apache Software License"
]

[project.urls]
"Homepage" = "https://github.com/bluemindai/optimed.git"
"Issues" = "https://github.com/bluemindai/optimed/issues"

[tool.setuptools.packages.find]
exclude = [".venv-optimed", ".vscode", ".history", "local", ".github"]

[tool.codespell]
skip = '.git,*.pdf,*.svg'
